*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f2ee;
}
.main{
    height: 100vh;
    width: 100vw;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.profilePart{
    width: 200px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}
.profilePic{
    background-image: url("https://media.licdn.com/dms/image/v2/D5616AQFdUXLl7Ptimg/profile-displaybackgroundimage-shrink_350_1400/profile-displaybackgroundimage-shrink_350_1400/0/1719602133707?e=1730937600&v=beta&t=LdngHfQF-EgbZvimHvoeLpK3WEC0_gHhvtPu961JkzQ");
    display: flex;
    background-size:contain;
    background-position: top;
    background-repeat: no-repeat;
    justify-content: center;
    
}
.profilePic img{
    width: 70px;
    height:70px;
    object-fit: cover;
    border-radius: 50%;
    border: white solid;
    margin: 15px 0;
}
.userName{
    font-size: 14px;
    font-weight: 600;
}
.info{
    font-size: 10px;
    color:gray;
    margin: 15px;
}
.viewPofile{
    font-size: 16px;
   font-weight: 600;
}
.postSection{
    width: 500px;
    height: 659px;
    margin: 0 30px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.postHeader{
    display: flex;
    margin: 20px 20px;
}
.postHeader img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.postTitle{
    margin-left: 10px;
    font-size: 11px;
    font-weight: 600;
    color:rgb(78, 77, 77);
}
.postTitle >span{
    font-size: 12px;
    color: gray;
}
.postDesc{
    font-size: 10px;
    margin: 5px 10px;
    color: gray
}
.postDescM{
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-left: 10px;
    color:gray
}
.caption{
    margin-left: 20px;
    font-size: 12px;
    color:rgb(63, 63, 63);
    line-height: 15px;
}
.gap{
    margin: 20px 0; 
}
.blue{
    color: blue;
}

.postImage{
    margin: 20px 0;    
    border-top: 1px solid rgb(203, 203, 203);  
}

.postOwner{
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 10px 15px  ;
}
.postOwner img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.image{
    height:266px;
    background-color: blueviolet;
}
.image img{
  height:266px;
  width: 100%; 
  
}
.imageFooter{
    background-color:#edf3f8 ;
    display:flex;
    font-size: 12px;font-weight: 600;
    padding: 10px;
}
.advertisement{
    width: 300px;
    height: 260px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;    
}
.companyImage{
    background-image: url("https://media.licdn.com/dms/image/v2/D5616AQFdUXLl7Ptimg/profile-displaybackgroundimage-shrink_350_1400/profile-displaybackgroundimage-shrink_350_1400/0/1719602133707?e=1730937600&v=beta&t=LdngHfQF-EgbZvimHvoeLpK3WEC0_gHhvtPu961JkzQ");
    display: flex;
    background-size:contain;
    background-position: top;
    background-repeat: no-repeat; 
    padding: 15px;   
}
.companyImage img{
   width: 80px;
   height: 80px;
   border: 2px solid white;
   border-radius: 5px;
}
.description{
 padding: 0 15px;
}
.companyName{
  font-size: 15px;
  margin: 10px 0;
  font-weight: normal;
}
.companyDesc{
    font-size: 12px;
    width: 80%;
    margin: 15px 0;
}
.companyfollow{
    font-size: 10px;
}
.description button{
    padding: 7px 100px;
    border: 1.5px solid rgb(0, 140, 255);
    margin: 10px;
    background-color: white;
    color: rgb(0, 140, 255);
    border-radius: 20px;
    margin-left: 10px;
}